<%= form_for [@user, @collection] do |f| %>
  <% if @collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
        <% @collection.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    Subscriptions
    <% @user.subscriptions_all.each do |subscription| %>
      <div>
        <%= f.label subscription.channel_name %>
        <%= hidden_field_tag 'collection[subscription_ids][]' %>
        <%= check_box_tag 'collection[subscription_ids][]', subscription.id, @collection.subscriptions.include?(subscription) %>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
