<h1>Editing collection</h1>

<%= render 'form' %>

<%= link_to 'Show', user_collection_path(@user, @collection) %> |
<%= link_to 'Delete', '#' %> |
<%= link_to 'Back', user_collection_path(@user, @collection) %>
