<% if @user %>

  <div id="left-sidebar" class="leftfloat sidebar">
    <ul class="sidebar-list">
      <li><%= link_to @user.name, channel_path(@user.channel), :id => 'username' %></li>
      <li><%= link_to 'What to see', root_path %></li>
      <li><%= link_to "My Subscriptions", user_subscriptions_path(@user) %></li>
      <li><%= link_to 'Watch Later', '#' %>  </li>
    </ul>


    <hr>

    <h4>SUBSCRIPTIONS</h4>
    <ul class="sidebar-list">

      <% @user.collections.each do |collection|%>
        <% if collection.id == params[:id] %>
          stuff
          <li class="selected"><%= collection.name %></li>
        <% else %>
          <li><%= link_to collection.name, user_collection_path(@user, collection) %></li>
        <% end %>
      <% end %>

      <% @user.subscriptions_all.each do |subscription| %>
        <li><%= link_to subscription.channel_name, channel_path(subscription.channel) %></li>
      <% end %>
    </ul>


    <hr>
    <div id="manage-collections">
      <div class="ico"></div>
      <%= link_to image_tag('icon-04.png', alt: 'logo'), user_collections_path(@user), :class => 'icon' %>
      <%= link_to 'Manage subscriptions', user_collections_path(@user) %>
    </div>
  </div>





  <div id="main" class="leftfloat">

    <h1><%= @collection.name %></h1>
    <div class="options"> <%= link_to 'Manage Collection', edit_user_collection_path(@user, @collection) %> </div>
    <hr>
    <h2>Channels subscribed</h2>
    <% @collection.subscriptions.each do |subscription| %>
      <div><%= subscription.channel_name %></div>
    <% end %>
    <hr>

    <h2>Last uploads</h2>
    <% @collection.videos.each do |video| %>
      <div><%= video.title %></div>
    <% end %>
  </div>

  <div id="right-sidebar" class="leftfloat"></div>


<% else %>

  <div id="left-sidebar" class="leftfloat sidebar">

    bla bla bla bla
    bla bla bla bla
    bla bla bla bla
    bla bla bla bla

    <hr>

    <h4>
      Channels
    </h4>

    bla bla bla bla
    bla bla bla bla
    bla bla bla bla
    bla bla bla bla


  </div>

  <div id="main" class="leftfloat">

  </div>

  <div id="right-sidebar" class="leftfloat"></div>


<% end %>





<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @collection.user_id %>
</p>

<%= link_to 'Edit', edit_user_collection_path(@user, @collection) %> |
