<% if @user %>

  <div id="left-sidebar" class="leftfloat sidebar">
    <ul class="sidebar-list">
      <li><%= link_to @user.name, channel_path(@user.channel) , :id => 'username' %></li>
      <li class='selected'>What to see</li>
      <li><%= link_to "My Subscriptions", user_subscriptions_path(@user) %></li>
      <li><%= link_to 'Watch Later', '#' %>  </li>
    </ul>


    <hr>

    <h4>SUBSCRIPTIONS</h4>
    <ul class="sidebar-list">
      <% @user.collections.each do |collection| %>
        <li><%= link_to collection.name, user_collection_path(@user, collection)  %></li>
      <% end %>
      <% @user.subscriptions_all.each do |subscription| %>
        <li><%= link_to subscription.channel_name, channel_path(subscription.channel)  %></li>
      <% end %>
    </ul>



    <hr>
    <div id="manage-collections">
      <div class="ico"></div>
      <%=  link_to image_tag('icon-04.png', alt: 'logo'), user_collections_path(@user), :class => 'icon' %>
      <%=  link_to 'Manage subscriptions', user_collections_path(@user) %>
    </div>
  </div>

  <div id="main" class="leftfloat">

    <% @user.subscriptions_all.each do |subscription| %>
      <div class="subscription-latest">
        <%  channel = subscription.channel
            videos = channel.videos.last(3) %>
        <div class="recent-banner"> <%=image_tag('icon-01.png', alt: 'logo') %> Recent videos of <span class="channel-name"><%= channel.user.name %></span></div>
        <div class="recent-video">
          <div class="img-placeholder"><%= link_to image_tag('icon-03.png'), video_path(videos[2]) %></div>
          <div class="video-label"><%= link_to videos[0].title, video_path(videos[0])  %></div>
        </div>
        <div class="recent-video">
          <div class="img-placeholder"><%= link_to image_tag('icon-03.png'), video_path(videos[1]) %></div>
          <div class="video-label"><%= link_to videos[1].title, video_path(videos[1])  %></div>
        </div>
        <div class="recent-video">
          <div class="img-placeholder"><%= link_to image_tag('icon-03.png'), video_path(videos[2]) %></div>
          <div class="video-label"><%= link_to videos[2].title, video_path(videos[2])  %></div>
        </div>
      </div>
      <hr>
    <% end %>

  </div>

  <div id="right-sidebar" class="leftfloat">
    <span>Recommended channels</span>
    <ul >
      <% @nonsubscribed.each do |channel| %>
        <li><%= channel.channel_name %></li>
      <% end %>
    </ul>
  </div>


<% else %>

  <div id="left-sidebar" class="leftfloat sidebar">

    bla bla bla bla
    bla bla bla bla
    bla bla bla bla
    bla bla bla bla

    <hr>

    <h4>
      Channels
    </h4>

    bla bla bla bla
    bla bla bla bla
    bla bla bla bla
    bla bla bla bla


  </div>

  <div id="main" class="leftfloat">

  </div>

  <div id="right-sidebar" class="leftfloat"></div>


<% end %>

