<% if @user %>

  <div id="left-sidebar" class="leftfloat sidebar">
    <ul class="sidebar-list">
      <li><%= link_to @user.name, channel_path(@user.channel) , :id => 'username' %></li>
      <li><%= link_to 'What to see', root_path %></li>
      <li class='selected'>My Subscriptions</li>
      <li><%= link_to 'Watch Later', '#' %>  </li>
    </ul>


    <hr>

    <h4>SUBSCRIPTIONS</h4>
    <ul class="sidebar-list">
      <% @user.collections.each do |collection| %>
        <li><%= link_to collection.name, user_collection_path(@user, collection)  %></li>
      <% end %>
      <% @user.subscriptions_all.each do |subscription| %>
        <li><%= link_to subscription.channel_name, channel_path(subscription.channel)  %></li>
      <% end %>
    </ul>



    <hr>
    <div id="manage-collections">
      <div class="ico"></div>
      <%=  link_to image_tag('icon-04.png', alt: 'logo'), user_collections_path(@user), :class => 'icon' %>
      <%=  link_to 'Manage subscriptions', user_collections_path(@user) %>
    </div>
  </div>

  <div id="main" class="leftfloat">
    <% @user.subscriptions_videos.each do |video| %>

    <div>
      <div><%= link_to video.owner.name, channel_path(video.channel) %> uploaded a video</div>
      <div><%= link_to video.title, video_path(video) %></div>
      <hr>
    </div>
    <% end %>



  </div>

  <div id="right-sidebar" class="leftfloat"></div>


<% else %>

  <div id="left-sidebar" class="leftfloat sidebar">

    bla bla bla bla
    bla bla bla bla
    bla bla bla bla
    bla bla bla bla

    <hr>

    <h4>
      Channels
    </h4>

    bla bla bla bla
    bla bla bla bla
    bla bla bla bla
    bla bla bla bla


  </div>

  <div id="main" class="leftfloat">

  </div>

  <div id="right-sidebar" class="leftfloat"></div>


<% end %>

