<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @subscription.user_id %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @subscription.channel_id %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @subscription.collection_id %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
