// Place all the styles related to the access controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#access #container{

  width: 400px;
  margin: 100px auto;
}

#access form{
  table tr{
    margin: 10px 0;

    td{
      margin: 20px;
    }

    label{
      font-size: 1.2em;
      margin-right: 20px;
    }



    input{
      font-size: 1.2em;
      margin-bottom: 20px;
    }
  }
}