

.subscription-latest{
  padding: 10px;
  width: 700px;
  height: 220px;
  margin: 0 auto;
}

.recent-video{
float: left;
  width: 200px;
  height: 190px;
  margin: 5px 2%;
}
.video-label{
  width: 200px;
  height: 40px;
  text-align: center;
}

.img-placeholder img{
  width: 200px;
  height: 135px;
  margin-bottom: 10px;
}

.channel-name{
  font-weight: bold;
}

.recent-banner img{
  vertical-align: -8px;
  border: 0.75px #F1F1F1 solid;
}

.video-label{
  color: #2793E6;
  &:hover{
    text-decoration: underline;
  }
}
