// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}



h1, h2, h3, h4, h5{
  color: #AAA ;
}

h1{
  font-size: 1.7em;
}

h2{
  font-size: 1.2em;
  margin: 10px 0;
}

h3{
  font-size: 1.1em;
  margin: 10px 0;
}

h4{
  font-size: 0.9em;
  margin-bottom: 10px;
}

#username{
  font-size: 1.1em;
}



#header-container{
  background: #F1F1F1;
  border-bottom: 1px #E1E1E1 solid;
  height: 45px;
  margin: 0 0 10px;

  #header {
    width: px;
    height: 45px;
    padding: auto 0;
    margin: 0 50px;

    #header-logo{
      img{
        float: left;
        height: 40px;
      }
    }

    #login{
      float: right;


    }
  }
}


a:link, a:visited, a:hover, a:active, a:focus{
  color: inherit;
  text-decoration: none;
}


.button{
  font-size: 10pt;
  text-align: center;
  color: #ffffff;
  width: 100px;
  margin: 5px 0;
  height: 25px;
  padding-top: 5px;
  background: #333;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.notice{
  text-align: center;
  margin: 7px auto;
  font-size: 12px;
  color: #79c042;
}


.rightfloat{
  float: right;
}

.leftfloat{
  float: left;
}

#container{
  margin: 0 40px;
  min-height: 950px;
  height: auto;
  overflow:auto
}

#main{
  border: 1px #F1F1F1 solid;
  width: 700px;
  padding: 15px;
  min-height: 300px;
  height: auto;
  overflow:auto
}


#right-sidebar, #left-sidebar{

  border: 0;
  width: 15%;
  height: 100px;
}


 hr{
  width: 90%;
  height: 1px;
  color: #F1F1F1; /* IE */
  background-color: #F1F1F1;
  border: 0;
  margin: 10px auto;
}


.sidebar-list .selected{
  background-color: #79c042;
  color: #ffffff;

  &:hover{
    background-color: #79c042;
    color: #ffffff;
  }
}

.sidebar-list li{
  padding: 1px 15px 1px;
  height: 20px;

  .selected{
    background-color: #79c042;
    color: #ffffff;
  }

   &:hover{
      background-color: #666;
      color: #ffffff;
  }
}

#footer{
  border-top: 1px #E1E1E1 solid;
  height: 200px;
  background: #F1F1F1;
}

.options{
  text-align: right;
}



