// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#video-show{
  border-left: 1px #F1F1F1 solid;
  height: 1300px;

  iframe{
    margin-bottom: 30px;
  }
  #video-title{
    margin-bottom: 20px;
    color: black;
    font-size: 1.7em;
    min-height: 25px;
    overflow: auto;
  }
}

.recommended-video{
  background-color:  rgba( 121, 192, 66 , 0.7);
  width: 400px;
  height: 100px;
  margin-bottom: 15px;
}

#video-show{
  margin-right: 20px;

}


#channel-avatar{
  float: left;
  width: 70px;
  height: 70px;
  border: 1px #F1F1F1 solid;
  img{
    margin: 13%;
  }
}

#video-info-container{
  margin-top: 10px;
  padding-left: 20px;
}

#channel-info-container{
  padding-top: 20px;

  width: 500px;
  height: 100px;

  #channel-info{
    width: 100px;
    margin-left: 110px;
    .button{
      background-color: #eee;
      color: #333 ;
    }
  }

  #channel-owner{

    font-size: 1.1em;
    margin: 10px 0;
  }
  #channel-subscribe{

  }
}