<!DOCTYPE html>
<html>
<head>
  <title>Utube</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="access">
  <div id="container">
    <% if !flash[:notice].blank? %>
      <div class="notice"> <%= flash[:notice] %> </div>
    <% end %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </div>
</div>

</body>
</html>
