<!DOCTYPE html>
<html>
<head>
  <title>uTube</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header-container">
    <div id="header">
      <div id="header-logo">
        <%= link_to image_tag('utube_logo.png', alt: 'logo') , root_path , :id => 'logo' %>
        <% if session[:user_id] %>
          <div id="login" class="button" >
            <%= link_to 'Logout', controller: 'access', action: 'logout' %>
          </div>
          <% else %>
          <div id="login" class="button" >
            <%= link_to 'Login', controller: 'access', action: 'login' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="container">
    <% if !flash[:notice].blank? %>
      <div class="notice"> <%= flash[:notice] %> </div>
    <% end %>




    <%= yield %>

  </div>
  <div id="footer"></div>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
